<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta.ejs') %>
    <title>Halaman Guru</title>
  </head>
  <body>
    <div class="text-center">
      <h1 class="mt-3">Tambah Guru Baru</h1>
      <form action="/api/v1/tambahguru" method="post">
        <div>
          <label for="first_name">First Name</label><br />
          <input
            type="text"
            name="first_name"
            id="first_name"
            required
          /><br /><br />
        </div>
        <div>
          <label for="last_name">Last Name</label><br />
          <input
            type="text"
            name="last_name"
            id="last_name"
            required
          /><br /><br />
        </div>
        <div>
          <label for="email">Email</label><br />
          <input type="email" name="email" id="email" required /><br /><br />
        </div>
        <div>
          <label for="gender">Gender</label><br />
          <label
            ><input type="radio" name="gender" value="female" />Female</label
          >
          <label><input type="radio" name="gender" value="male" />Male</label>
        </div>
        <br /><br />
        <div>
          <input type="submit" value="Add New Teacher" />
        </div>
      </form>
    </div>
  </body>
</html>
