<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta.ejs') %>
    <title>Halaman Guru</title>
  </head>
  <body>
    <div class="text-center">
      <h1>Data Guru</h1>
      <button class="btn btn-primary">
        <a href="tambahguru" class="text-white">Tambah Guru</a>
      </button>
      <table class="table mt-4 mx-auto w-75">
        <thead>
          <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>gender</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((guru) => { %>
            <tr>
              <% for(const key in guru){ %>
                <td> <%= guru[key] %></td>
              <% } %>
              <td><a href="/guru/edit/<%= guru.id%>">EDIT</a></td>
            </tr>
          <% } ) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
