<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta.ejs') %>
    <title></title>
  </head>
  <body>
    <div class="text-center mt-5">
      <h1>Profil Sekolah</h1>
      <h1>Selamat datang di sekolah dasar paling keren se indonesia</h1>
      <h3>
        Berikut adalah list untuk melihat data-data yang ada dalam file sekolah
        ini
      </h3>
      <ul class="mt-5">
        <li><a href="guru">Data Guru</a></li>
        <li><a href="murid">Data Murid</a></li>
        <li><a href="subject">Data Mata Pelajaran</a></li>
      </ul>
    </div>
  </body>
</html>
